<div class="center">
<select {{action 'setDisplay'}}>
<option value="">Time in:</option>
<option value="seconds">Seconds</option>
<option value="minutes">Minutes</option>
<option value="hours">Hours</option>
</select>
</div>
<div {{bind-attr class=":timer started"}}>{{#if seconds}}{{totalTime}}{{/if}}{{#if minutes}}{{totalMinutes}}{{/if}}{{#if hours}}{{totalHours}}{{/if}}</div>
<div class="time-controls">
<div class="btn-group">
<button type="button" class="btn btn-success" {{action "startClock" model on="click"}}>Start</button>
<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="caret"></span>
</button>

<ul class="dropdown-menu">
<li class="dropdown-header">Set an Alarm</li>
<li><a href="#" {{action "setAlarm" 30}}>30 minutes</a></li>
<li><a href="#" {{action "setAlarm" 60}}>1 hour</a></li>
<li><a href="#" {{action "setAlarm" 120}}>2 hours</a></li>
<li class="divider" role="separator"></li>
<li><a href="#" {{action "setAlarm"}}>Custom</a></li>
</ul>

</div>
<div class="btn-group">
<button class="btn btn-danger" {{action 'stopClock' model}}>Stop</button>
<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="caret"></span>
</button>
<ul class="dropdown-menu">
<li><a href="#">Break</a></li>
<li><a href="#">Lunch</a></li>
<li role="separator" class="divider"></li>
<li><a href="#">Other...</a></li>
</ul>
</div>
</div>
<div class="container">
        <div class="row">
            <div class="col-xs-6"><strong>In:  </strong>{{startTime}}</div>
            <div class="col-xs-6"><strong>Out:  </strong>{{stopTime}}</div>
        </div>
</div>
<audio id="gong" src="/assets/gong.mp3"></audio>
{{yield}}
