{{#link-to "projects"}}<img class="logo" src="/assets/projetc_logo.svg" alt="Projetc Logo">{{/link-to}}
{{time-clock startTime=model.startTime stopTime=model.stopTime totalTime=model.totalTime stopClock="stop" startClock="start" savemodel="save"}}
<div class="container">
<div class="row">
        <div class="col-xs-12"><h1>{{model.name}}</h1></div>
</div>
<div class="row">
        <div class="col-xs-12"><label>Due Date: {{date-picker date=model.dueDate focus-out="save" valueFormat='date'}}</label></div>
</div>
</div>

<div class="container">
    <div class="row">
        {{time-description description=model.description savemodel="save" }}
    </div>
    <div class="row">
        <div class="col-xs-12"><button class="btn btn-default" {{action 'save'}}>Save Project</button></div>
    </div>
</div>
